
.Contato{
    font-family: 'Source Sans Pro', sans-serif;
    display: none;
}
.CCont{
    position: relative;
    top: 80px;
}
.CCont h2{
    font-family: 'Cabin', sans-serif;
    margin-bottom:10px ;
    color: #1E1E26;
    font-size: 28px;
}
.CCont p {
    margin-top: 5px;
    color: #747478;
    font-size: 23px;
}