
body{
    text-align: center;
    background-color: #1e2335;
    font-family: 'Source Sans Pro', sans-serif;
}

/*cabesario*/
.cabesario{ 
    position: relative;
    top: -50px;
    background-color: #272B41;

}
.cabe {
    margin-left: 30%;
    margin-right: 30%;
}
.nome{
    color: white;
    position: relative;
    top: 200px;
    left: 200px;
}
.nome h2{
    font-size: 60px;
}
.nome p{
    color: #FFAF29;
    font-size: 30px;
    position: relative;
    top: -20px;
    left: 50px;
}
h2{
    font-family: 'Cabin', sans-serif;
}
.imgPerfil{
    background-color: #2F3553;
    padding: 20px;
    position: relative;
    top: -50px;
    right: 300px;
    border-radius: 250px  ;
    width: 350px;
    height: 350px;
}

/*meu conteudo*/

.contMeu{
    position: relative;
    top: -50px;
    text-align: center;
    padding: 100px 0px 0px 0px ;
    width: 950px;
    height: 450px;
    background-color: #2F3553;
    margin: 0px 15% 0px 15%;
    transition: width 0.8s, height 0.8s;
}

.btnSobre{
    font-size: 20px;
    position: relative;
    top: -100px;
    left: -0px;
    padding: 20px 125px 20px 125px;
    color: white;
    background-color: #FFAF29;
    border: none;
}
.btnContato{
    font-size: 20px;
    position: relative;
    top: -100px;
    left: -0px;
    padding: 20px 110px 20px 110px;
    color: white;
    background-color: #2C304A;
    border: none;
}
.btnHabilidade{
    font-size: 20px;
    position: relative;
    top: -100px;
    padding: 20px 110px 20px 110px;
    color: white;
    background-color: #2C304A;
    border: none;
    
}

.contMeu1{
    position: relative;
    top: -50px;
}
.contSobre{
    font-size: 22px;
    color: white;
}
.contContato{
    display: none;
    font-size: 22px;
    color: white;
}
.contContato b {
    color: #FFAF29;
}
.contHabilidade{
    display: none;
    font-size: 22px;
    color: white;
}
.HabPrograms{
    
    position: absolute;
    top: -30px;
    left:  23%;

}
.HabIdioma{
    position: absolute ;
    top: -15px;
    right:  30%;
}
.HabOutros{
    position: absolute ;
    top: 120px;
    right:  28%;
}
.tituloPrograms{
    font-size: 35px;
    color: #FFAF29;
}

.tituloIdioma{
    position: relative;
    top: -10px;
    font-size: 35px;
    color: #FFAF29;
}
.tituloOutros{
    font-size: 35px;
    color: #FFAF29;
}

/* Projetos*/
.projeto{
    background-color:#252a44;
}
.projetos{
    
    margin: 30px 15% 10px 15% ;
}
.tituloProjetos h2{
    position: relative;
    top: 15px;
    left: -500px;
    margin: 0px 0px 0px 200px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    color: #FFAF29;
}

.itemCard{
    
    background-color:#2F3553 ;
}
.itemCard h2{
    padding: 10px 10px 0px 10px ;
    font-size: 25px;
    color: #FFAF29;
}
.itemCard p{
    padding: 0px 10px 0px 10px ;
    font-size: 20px;
    color: white;
}
.itemCard b{
    position: relative;
    top: -10px;
    color: white;
    font-size: 20px;
}
/* buttons*/
.btnCarousel{
    text-align: center;
    position: relative;
    top: -562px;
    margin-left:840px ;
}
.btnRight{
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    color: white;
    background-color:#2F3553 ;
}
.btnLeft {
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    color: white;
    background-color:#2F3553 ;
}

/* certificado*/
.Certificado{
margin: 0px 15% 10px 15% ;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 0px;
    padding: 20px;
    text-align: center;
}
.grid-container2 {
    display: none;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 0px;
    padding: 20px;
    text-align: center;
}
.grid-item {
    background-color: #2C304A;
    border-radius:5px;
    margin: 0px 5% 0px 5% ;
    padding: 20px 0px 20px 0px;
  }
.grid-item h2{
    padding: 15px 0px 0px 0px;
    color: #FFAF29;
}
.grid-item p{
    color: white;
}
.tituloCertificado h2{
    position: relative;
    top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    color: #FFAF29;
}
.imgCertificados{
    border-radius: 10px;
    display: none;
    background-color: #3f456b;
    color: white;
    padding: 20px 20px 10px 20px;
    position: fixed;
    top: 50px;
    left: 0px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}
.btnVoltarCertificado{
    margin: 20px 35% 0px 35%;
    padding: 5px;
    background-color: #FFAF29;
    border-radius: 30px;
}
.btnCarrega{
    border-radius: 5px;
    padding: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background-color: #FFAF29;
}
.segundaParteCertificados{
    
}

.imgCertificado{
    display: none;
    position: fixed ;
    top: 50px;
    left: 200px;
    width: 1000px;
    height: 500px;
    background-color: #3f456b;
    border-radius: 3px;

}
.imgCertificado img{
    border-radius: 5px 5px 0px 0px;
    display: none;

}
.imgCertificado button{
    border-radius: 0px 0px 3px 3px;
    display: none;
    font-size: 20px;
    background-color: #FFAF29;
    color: white;
    border: none;
    width: 1000px;
    height: 30px;
}

