.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 100%;
    height: 100%;
}
.SMCont{
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    top: 80px;
}
.SMCont h2{
    font-family: 'Cabin', sans-serif;
    margin-bottom:10px ;
    color: #000000;
    font-size: 30px;
}
.SMCont p {
    margin-top: 5px;
    color: #747478;
    font-size: 23px;
}